.container {
    background-color: none;
}
h1  {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;

}
body   {
    font-family: 'Marmelad', sans-serif;
    font-size: 30px;
}

.col-md-5 {
    float: left;

}
